@import url(https://fonts.googleapis.com/css?family=Nunito);

h1 {
   font-size: 250%
}
p {
  font-size: 140%;
  line-height: 150%;
  color: #333;
}
.slide {
  position: fixed;
  top: 0px;
  background: 50% 50% / cover;
  right: 0;
  height: 50vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);

  z-index: -1;
}
.artcltxt {
  padding: 10px;
  width: 100%;
  background: #fff;
  z-index: 10;
}

.title {
  width: 45%;
  padding: 5%;
  z-index: 10;
  -webkit-text-stroke: 2px white;
  
  font-size: xx-large;
  font-weight: bolder;
}
