<!--The content below is only a placeholder and can be replaced.-->

<nav class="red darken-4" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo">SuperNews</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">Главная</a></li>
      <li *ngIf="authService.isLoggedIn()"><a routerLink="/createarticle">Посты</a></li>

      <li><a href="#">Контакты</a></li>
      <li>
        <a *ngIf="authService.isLoggedIn()">
          <img [src]="authService.photoUrl()" class="circle responsive-img" alt="user photo" />
        </a>
        <a href="" *ngIf="!authService.isLoggedIn()" routerLink="/login">Войти</a>
        <div class="user-info-box" *ngIf="authService.isLoggedIn()">
          <div class="user-info-bar">
            <div class="user-photo">
              <img [src]="authService.photoUrl()" class="circle responsive-img" />
            </div>
            <div class="user-info-content">
              <p>{{authService.displayUserName()}}</p>
            </div>
          </div>

          <div class="user-exit">
            <a (click)="authService.logout()">Выйти</a>
          </div>
        </div>
      </li>
    </ul>

    <ul id="nav-mobile" class="sidenav">
      <li>
        <a href="" *ngIf="!authService.isLoggedIn()" routerLink="/login">Войти</a>
        <div class="" *ngIf="authService.isLoggedIn()">
          <div class="user-info-bar">
            <div class="user-photo">
              <img [src]="authService.photoUrl()" class="circle responsive-img" />
            </div>
            <div class="user-info-content">
              <p>{{authService.displayUserName()}}</p>
            </div>
          </div>

          <div class="user-exit">
            <a (click)="authService.logout()">Выйти</a>
          </div>
        </div>
      </li>
      <li><a href="#">Главная</a></li>
      <li><a routerLink="/createarticle">Посты</a></li>
      <li><a href="#">Контакты</a></li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="page-footer red darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright red darken-3">
    <div class="container">
      © 2018 By Ivashchenko Vlad
    </div>
  </div>

</footer>