<div class="container">
  <div class="row">
    <div class="col s8 m8 l4 offset-m2 offset-s2" *ngFor="let article of articles">
      <div class="card">
        <div class="card-image" routerLink="/article/{{article._id}}">
          <img [src]="article.pic|safeUrl" />
          <span class="card-title">{{article.title}}</span>
        </div>
        <div class="card-content">
          <p>{{article.text | shortArticleString}}</p>
        </div>
        <div class="card-action">
          <button mat-button>
            <a routerLink="/article/{{article._id}}">Читать</a>
          </button>
          <div class="buttonBar" *ngIf="authService.isLoggedIn()">
            <div class="buttonDelete" (click)='deleteArticle(article._id)'>
              <button mat-icon-button color="accent">
                <a>
                  <mat-icon aria-label="Delete the article">delete</mat-icon>
                </a>
              </button>
            </div>
            <div class="buttonEdit">
              <button mat-icon-button color="accent">
                <a routerLink="/createarticle/{{article._id}}">
                  <mat-icon aria-label="Edit article">create</mat-icon>
                </a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>